.journey {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-top: 47px;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  &__hidden {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    display: none;
    
    &--underline {
      display: none;
      height: 1px;
      background-color: $prameriy-color;
      margin-top: 24px;
      width: 100%;
      border: 1px solid;
      margin-bottom: 60px;

      &:hover {
        background-color: blue;
        padding-top: 1px;
      }
    }
  }
  &__initiative {
    display: flex;
    &--infobar {
      display: flex;
      flex-direction: row;
      gap: 48px;
    }
    &--foto {
      display: none;
      margin: auto;
    }
    img {
      width: 100%;
    }
  }
  &__trip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: relative;

    &--cart {
      background: #888c94;
      color: #ffffff;
      padding: 32px;
      position: relative;
    }

    &--foto {
      display: none;
    }
  }

  &__card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    &--img {
      width: 100%;

      img {
        width: 100%;
      }
    }

    &--date {
      color: #333;
      font-size: 13px;
      line-height: 24px;
    }

    &--info {
      text-transform: uppercase;
      margin-top: 12px;
    }

    &--title {
      font-size: 32px;
      font-weight: 600;
      margin-top: 12px;
      margin-bottom: 12px;
    }

    &--text {
      padding-top: 12px;
      margin-bottom: 15px;
    }

    &--underline {
      height: 1px;
      background-color: $prameriy-color;
      margin-top: 24px;
      width: 100%;
      border: 1px solid;
      margin-bottom: 60px;
      

      &:hover {
        background-color: blue;
        padding-top: 1px;
      }
    }
  }
}

@include tablet {
  .journey {
    &__cards {
      display: flex;
      flex-direction: row;
      gap: 120px;
      width: 100%;
    }
    &__hidden {
      display: flex;
      &--underline {
        display: flex;
      }
    }
    &__card {
      width: 100%;
      margin-left: auto;

      &--img img {
        width: 100%;
      }
    }

    &__trip {
      overflow: hidden;
      height: 680px;

      &--cart {
        width: 35%;
        position: absolute;
        top: 60.5%;
        z-index: 1;
        height: 40%;
      }

      &--foto {
        display: flex;
        width: 100%;
        margin: auto;

        img {
          object-fit: cover;
        }
      }
    }
    &__initiative {
      flex-direction: row-reverse;
      gap: 16px;
      &--foto {
        display: flex;
      }
      
    }
  }
}
